@font-face {
  font-family: 'PF DinText Pro';
  src: url(lib/fonts/PFDinDisplayPro-Reg.ttf);
}
@font-face {
  font-family: 'GothamMedium';
  src: url(lib/fonts/GothamMedium.otf);
}

/* Changes to basic tags */
html {
  /*background-color: #212223;*/
  font-family: 'PF DinText Pro', sans-serif;
  color: #9f9191;
}

body {
  max-width: 1024px;
  margin: 40px auto;
  line-height: 1.6;
  font-size: 14px;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #444;
}

h1,h2,h3 {
  font-family: 'GothamMedium', sans-serif;
  line-height: 1.2;
}

header {
  text-align: center;
  padding: 0 90px;
  font-family: 'GothamMedium', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
}

footer {
  height: 60px;
  line-height: 60px;
  width: 100%;
  text-align: center;
}

::selection {
  background: #9f9191;
}

/* custom tags */
#portfolio {
  text-align: center;
}
.portfolio-item {
  width: 300px;
  margin: 5px 10px;
  display: inline-block;
}
.portfolio-item img {
  background-position: cover;
  display: block;
  width: 100%;
  height: 180px;
}
.portfolio-item p {
  margin-top: 0;
}
.portfolio-item h3 {
  margin-bottom: 0;
}
.portfolio-item img {
  background-size: cover;
  background-position: center center;
}
.portfolio-item:nth-child(1) img {
  background-image: url('i/guitar.png');
}
.portfolio-item:nth-child(2) img {
  background-image: url('i/innod.jpg');
}
.portfolio-item:nth-child(3) img {
  background-image: url('i/logo.png');
}
.portfolio-item:nth-child(4) img {
  background-image: url('i/temp.png');
}
.portfolio-item:nth-child(5) img {
  background-image: url('i/insta.jpg');
}

.text-center {
  text-align: center;
}
